@keyframes fadeOut {
    100% {  
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* CARDS ANIMATION DELAY */ 

@keyframes cards {

    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* CHECK-CIRCLE ANIMATION */ 

@keyframes circle {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}